In [ ]:
import pandas
df=pandas.read_csv(r'C:\Users\dinesh135732\Desktop\dataframe.csv')
df['Percentage']=(df.Maths+df.Science+df.English)/3
df1=df[(df.Section==1)]
df1
#df2=df[(df.Section==2)]
#df1.sort_values(by='Maths',ascending=False).head(1).Name
#df1[(df1.Maths ==max(df1.Maths))].Name
df3=df[['Maths','Science','English']]
df3.corr()

import seaborn as sns
import matplotlib.pyplot as plt
sns.heatmap(df.corr())
plt.show()

In [14]:
import pandas
df=pandas.read_csv(r'C:\Users\dinesh135732\Desktop\datafile.csv')
df['Salary']=df['Salary'].replace('[\$,]','',regex=True).astype(float)
df['Net_Salary']=df['Salary']*0.7
df=df.dropna()
df[df.Name.str[0] =='S']
df['Int_Sal'] =pandas.to_numeric(df['Salary'],downcast='integer',errors='ignore')
for row in df.itertuples():
    if row[2]>300000.0:
        print(row[1])

Suman
Kiran
John
Chirag

In [23]:
import pandas
d={'Country':['India','USA','India','USA','India'],
  'score':[100,22,44,21,90]}
df=pandas.DataFrame(d)
g=df.groupby('Country')
g.get_group('India')

  Country  score
0   India    100
2   India     44
4   India     90

In [28]:
import pandas
d={'Country':['India','USA','India','USA','India'],
  'score':[100,22,44,21,90]}
f={'Country':['India','USA','India','USA','India'],
  'score':[100,22,44,22,80]}
df1=pandas.DataFrame(d)
df2=pandas.DataFrame(f)
#df1.append(df2)
pandas.concat([df1,df2],axis=1)
x=df.drop('Country',axis=1)
x

   score
0    100
1     22
2     44
3     21
4     90