In [ ]:
#this is my first program
'''
this is
calculating sum
'''
"""
phython is easy language"""
__author__='dinesh mangla'
a=10
b=10
print("sum of a anf b",a+b)

In [ ]:
#find the area of circle when radius is 5 cm
#import math
from math import pi
r=5
#area=math.pi*r**2
area=pi*r**2
print("area if circle is", area)

In [ ]:
import math
dir(math)

In [2]:
name=input("enter your name")
age=int (input("please enter your age"))
if age<18:
    print("hello " ,name,"good to know you are not adult")
elif age>18 and age <45:
     print("hello " ,name,"good to know you are  adult")
else:
    print("hello " ,name,"good to know you are  old")

enter your nameDinesh
please enter your age31
hello  Dinesh good to know you are  adult

In [7]:
list1=list()

type(list1)

list1=[10,20,'India','USA','China',10.22]

len(list1)

6

In [12]:
list1=list()
list1=[10,20,'India','USA','China',10.22]

'India' in list1
'USA' in list1
'Afrika' in list1
'Afrika' not in list1
#list1[0]
#list1[-1]

True

In [19]:
#list traversal
#-----------------------
# list1[m:n] - starts from mth index and go till n-1 index
# list1[:n] -starts from oth index and go till n-1 index
# list1[m:] -starts from mth index and go till end

cost=int (input("please enter cost of the product"))
sellingPrice=int (input("please enter selling price of the product"))

#x=sellingPrice-cost

if sellingPrice>cost:
    print("proft", sellingPrice-cost)
elif sellingPrice<cost:
     print("loss and loss is  " ,sellingPrice-cost)
else:
     print("No profit no losss ")

please enter cost of the product20
please enter selling price of the product30
proft 10

In [20]:
list1=[0]
list1.append(100)
print(list1)
list1.extend(['a','b','c'])
print(list1)
list1.insert(2,'Python')
print(list1)
list1=list1+[99,88,77]
print(list1)
tup=(11,22,33)
list1=list1+tup
print(list1)

[0, 100]
[0, 100, 'a', 'b', 'c']
[0, 100, 'Python', 'a', 'b', 'c']
[0, 100, 'Python', 'a', 'b', 'c', 99, 88, 77]

TypeError: can only concatenate list (not "tuple") to list

In [22]:
print("a" * "bc")

TypeError: can't multiply sequence by non-int of type 'str'